entrypoint = "index.js"
modules = ["nodejs-20:v8-20230920-bd784b9"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 3485
externalPort = 3001

[[ports]]
localPort = 3930
externalPort = 4200

[[ports]]
localPort = 8144
externalPort = 8081

[[ports]]
localPort = 9565
externalPort = 3000

[[ports]]
localPort = 23519
externalPort = 9000

[[ports]]
localPort = 25414
externalPort = 8008

[[ports]]
localPort = 26708
externalPort = 8000

[[ports]]
localPort = 29404
externalPort = 6800

[[ports]]
localPort = 32933
externalPort = 8099

[[ports]]
localPort = 38377
externalPort = 5173

[[ports]]
localPort = 44643
externalPort = 6000

[[ports]]
localPort = 50841
externalPort = 80

[[ports]]
localPort = 53480
externalPort = 8080

[[ports]]
localPort = 55234
externalPort = 3003

[[ports]]
localPort = 57129
externalPort = 5000

[[ports]]
localPort = 63660
externalPort = 3002
